@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}


header{

    font-size: 12px;
    padding: 20px 0px;
    margin-left: 40px;

}

main .image-fundo{

    background-image: url(image/CarrosEnfileirados-1.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

main .image-fundo::before{

    content: "";
    width: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    display: block;
    height: 180px;
    position: relative;

}

main .image-fundo p  {

    position: absolute;
    top: 15%;
    right: 10%;
    text-align: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;

}

main > section:not(.image-fundo , .contato){

    max-width: 1300px;
    margin: 0px auto;
}

main .nos {

    display: flex;
    flex-direction:column;
    gap: 20px;
    width: calc(100% - 30px);
    margin: 0px 15px;
    padding: 20px 0px; 
    
    
   
}
   
main .nos p{

    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: justify;
}

main .nos .carpai{

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

main .nos .carpai > .img-car{

    width: 350px;
   
}

main .nos .carpai > .img-car img{

    width: 100%;
}

main .lista{

 
  width: 100%;
  margin: 0px auto;
  
    
}
main .lista ul {

    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    

}

main .lista ul li {

    border-left: 1px solid black;
    padding-left: 10px;
}


main .contato {

    background-color: #D92121;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

main .contato h2{

    background-color: #6C0000;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 0px;
    font-size: 2.2rem;
}

main .formulario{

    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:calc(100% - 30px);
    margin: 0px 15px;
}

main .formulario p {

    font-size: 19px;
}

main .formulario form{

    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    
    
    
}

main .formulario form fieldset{

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

main .formulario form fieldset label{

    font-size: 1.1rem;
}

main .formulario form fieldset legend {

    font-size: 1.2rem;
}

main .formulario form fieldset div {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .formulario form fieldset div input {

    padding: 5.3px 0px;
}

main .formulario form .send input {

    width: 100%;
    padding: 8px;
    background-color: #D92121;
    border: none;
    color: white;
    font-size: 0.9rem;
}

footer{

    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
}

footer span::before{

    content: '\00a9';
    padding: 0px 5px;
    position: relative;
    top: 1px;
    
    
}

