@charset "UTF-8";

/* media adaptavel para todas as telas que não seja celular */


@media screen and (min-width:780px) {

    #icone-burger{
        
        display: none;
    }

    header #menu-opcoes{

        display: block;
        text-align: left;
        padding-left: 10px;
 
         
 
 
     }

    

    header{

        padding-bottom:5px;
        
    }



    header span{
        
      display: inline-block; 
      margin-right: 5px;
     
       
    }
    
}

