@charset "UTF-8";

@font-face {
    font-family: 'cordel';
    src: url(../font/cordelina.otf);
}

@font-face {
    font-family: 'alone';
    src: url(../font/Study\ Alone.otf);
}

*{
    margin:0px;
    padding: 0px;
    
}

header{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    



}

header h1{
padding-bottom:10px;

font-family:cordel,sans-serif;   
font-size:6vw

}

header p{

    padding-top: 10px;
    font-size: 20px;
    font-family:cursive,sans-serif

}

section{
    
    padding: 50px;
    font-family: alone;
    line-height: 6vw;
    font-size: 2.8vw;
    text-align: justify;

}

.com-imagem{

    background-color: rgb(143, 143, 137);
    box-shadow:inset 18px 18px 10px rgba(0, 0, 0, 0.267);
    
}

#flor{

    background-image: url(../image/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  
    
}

.com-imagem p {

    display:inline-block;
    padding: 30px;
    max-width:520px;
    margin-left: -20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 30px 5px 30px 5px;
    

}

.sem-imagem p{

    margin-left: 5px;
}

#paginas{

    background-image: url(../image/background002.jpg);
    background-position: center center;
    background-size:cover;
    background-attachment:scroll;

}

.agradecimento{

    background-image: url(../image/foto03.avif);
    background-position:right;
    background-size:auto;
    background-attachment:scroll ;
    
}

.agradecimento p {

    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
    font-weight: bold;
    margin-top: -25px;
    margin-left: -20px;
    border-radius: 30px 5px 30px 5px;
    text-align: center;
    padding: 10px;
    
    
    
   

}


img{
   
    
    position: relative;
    top: 12px;
    left:10px;
    width: 40px;
    margin: 0px auto;
    
   
    

}

#imagem-capa{

    position: relative;
    display: inline-block;
    width: 30vw;
    padding-top:10px;
    transform: translate(-10px);
    
  
}

.video{
    
background-image: url(../image/cordel.JPG);
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
height:40vw;
margin-top: 100px;
margin-bottom: 100px;


}

iframe{
  
    width: 100%;
    height: 100%;
       
}

footer{

    background-color: black;
    color: white;
    font-family:alone,sans-serif;
    text-align: center;
    
}

footer p{

    padding: 5px;
    line-height: 30px;
    
}

footer span{
    display: inline;
    margin-top: 10px;
}



.ancora{
    text-decoration: none;
    color: white;
}

a:hover{

    text-decoration: underline;
}

#yt{

    color: rgb(238, 10, 10);
    text-decoration: none;
    
    
    
}

#nome-yt{
    padding-left: 10px;
}    

#nome-yt:hover{

    text-decoration: underline;
}
